<div class="accordion-container">
  <h1>PayPal Payment</h1>
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel id="panel-0" title="Pay with PayPal">
      <ng-template ngbPanelContent>
        <div id="paypal-button-container" class="paypal-button-container">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="panel-1" title="Pay with Card">
      <ng-template ngbPanelContent>
        <div class="card_container">
          <form id="card-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="card-number">Card Number</label>
            <input id="card-number" type="text" class="form-control card_field" [ngClass]="{ 'is-valid': !f.number.invalid , 'is-invalid': f.number.invalid }" formControlName="number" maxlength="19"
                   placeholder="XXXX-XXXX-XXXX-XXXX" appCardNumber>
            <div *ngIf="f.number.errors && ( f.number.dirty || f.number.touched)" class="invalid-feedback">
              <span *ngIf="f.number.errors?.['required'] || f.number.invalid">Insert Valid Card Number</span>
            </div>
            <div style="display: flex; flex-direction: row;">
              <div>
                <label for="expiration-date">Expiration Date</label>
                <input id="expiration-date" type="text" class="form-control card_field" [ngClass]="{ 'is-valid': !f.expirationDateControl.invalid , 'is-invalid': f.expirationDateControl.invalid }"
                       formControlName="expirationDateControl"
                       placeholder="MM/YY" appExpiryDate>
                <div *ngIf="f.expirationDateControl.errors && ( f.expirationDateControl.dirty || f.expirationDateControl.touched)" class="invalid-feedback">
                  <span *ngIf="f.expirationDateControl.errors?.['required'] || f.expirationDateControl.invalid">Insert Valid Expiration Date</span>
                </div>
              </div>
              <div style="margin-left: 10px;">
                <label for="cvv">CVV</label>
                <input id="cvv" type="text" class="form-control card_field" formControlName="securityCode" maxlength="3" minlength="3" [ngClass]="{ 'is-valid': !f.securityCode.invalid , 'is-invalid': f.securityCode.invalid }"
                       placeholder="123">
                <div *ngIf="f.securityCode.errors && ( f.securityCode.dirty || f.securityCode.touched)" class="invalid-feedback">
                  <span *ngIf="f.securityCode.errors?.['required'] || f.securityCode.invalid">Insert Valid CVV</span>
                </div>
              </div>
            </div>
            <label for="card-holder-name">Name on Card</label>
            <input
              type="text"
              id="card-holder-name"
              name="card-holder-name"
              autocomplete="off"
              formControlName="name"
              [ngClass]="{ 'is-valid': !f.name.invalid , 'is-invalid': f.name.invalid }"
              placeholder="card holder name"
            />
            <div *ngIf="f.name.errors && ( f.name.dirty || f.name.touched)" class="invalid-feedback">
              <span *ngIf="f.name.errors?.['required'] || f.name.invalid">Insert Valid Name</span>
            </div>
            <div>
              <label for="card-billing-address-street">Billing Address</label>
              <input
                type="text"
                id="card-billing-address-street"
                name="card-billing-address-street"
                autocomplete="off"
                formControlName="addressLine1"
                placeholder="street address"
              />
            </div>
            <div>
              <label for="card-billing-address-unit">&nbsp;</label>
              <input
                type="text"
                id="card-billing-address-unit"
                name="card-billing-address-unit"
                autocomplete="off"
                placeholder="unit"
              />
            </div>
            <div>
              <input
                type="text"
                id="card-billing-address-city"
                name="card-billing-address-city"
                autocomplete="off"
                formControlName="adminArea2"
                placeholder="city"
              />
            </div>
            <div>
              <input
                type="text"
                id="card-billing-address-state"
                name="card-billing-address-state"
                autocomplete="off"
                placeholder="state"
              />
            </div>
            <div>
              <input
                type="text"
                id="card-billing-address-zip"
                name="card-billing-address-zip"
                autocomplete="off"
                formControlName="postalCode"
                placeholder="zip / postal code"
              />
            </div>
            <div>
              <input
                type="text"
                id="card-billing-address-country"
                name="card-billing-address-country"
                autocomplete="off"
                formControlName="countryCode"
                [ngClass]="{ 'is-valid': !f.countryCode.invalid , 'is-invalid': f.countryCode.invalid }"
                placeholder="country code"
              />
              <div *ngIf="f.countryCode.errors && ( f.countryCode.dirty || f.countryCode.touched)" class="invalid-feedback">
                <span *ngIf="f.countryCode.errors?.['required'] || f.countryCode.invalid">Insert Valid Country Code</span>
              </div>
            </div>
            <br/><br/>
            <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
          </form>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

